<%- include('../partials/__head.ejs') %>
    <style>
        body {
            font-family: sans-serif;
            background-color: #f0f0f0;
        }

        .kartu-container {
            width: 350px;
            margin: 30px auto;
            padding: 20px;
            background: white;
            border-radius: 12px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .foto {
            width: 100%;
            height: 100%;
            border-radius: 10%;
            object-fit: cover;
            margin-bottom: 10px;
        }

        .qr-code {
            margin-top: 20px;
        }
    </style>


<body>
    
    <div class="kartu-container">
        <h2>Kartu Anggota</h2>
        
            <img src="/images/anggota/<%= data.foto %>" class="foto" alt="foto" style="width: 8rem;">
            
                <p><strong>Nama:</strong>
                    <%= data.nama %>
                </p>
                <p><strong>NIA:</strong>
                    <%= data.nia %>
                </p>
                <p><strong>Tingkatan:</strong>
                    <%= data.tingkatan %>
                </p>
                <p><strong>Tanggal Bergabung:</strong>
                    <%= data.tanggal_masuk %>
                </p>


                <div class="qr-code">
                    <!-- <p><strong>Scan untuk lihat profil</strong></p> -->
                    <img src="<%= qrCode %>" width="150" height="150" />
                </div>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-secondary"
            onclick="history.back()">back</button>
            <a href="/anggota/detail/<%= data.nia %>/kartu/download-image" class="btn btn-success">Download Kartu</a>
    </div>
    <%- include('../partials/__foot.ejs') %>
</body>

